<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue To Do List</title>
</head>
<body>

    <div id="app">

        <div class="title">
            <h1>TO DO LIST</h1>
        </div>

        <div class="addtasks">
        </div>
        
        <div class="tasks">
            <ul v-if="tasks.length > 0">
                <li v-for="(task, index) in tasks" :class="{strikeout: task.done}">
                    {{ task.text }}
                    <i class="fa-regular fa-circle-xmark fa-xl" @click="removeTask(index)"></i>
                </li>

            </ul>
            <p v-else>Nothing to do</p>
        </div>


    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/script.js"></script>
</body>
</html>